/* Refactoring */
* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
    width: 100%;
    background-color: #6600ff;
    position: fixed;
    display: flex;
    padding: 0 3rem 0 3rem;
}

header .title {
    width: 50%;
    display: flex;
    align-items: center;
}
header .title h1 {
    font-size: 26px;
    color: white;
    font-weight: 800;
    cursor: default;
    user-select: none;
}
header .followme {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .followme .bi {
    font-size: 22px;
    color: white;
    transition: 0.2s;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
header .followme .bi:hover {
    color: rgb(215, 215, 215);
}

section {
    height: 100vh;
    padding: 60px 0 0 0;
}

section.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.one h4 {
    font-size: 30px;
    font-weight: 800;
    color: #666;
}

section.one h1 {
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    color: #000000;
}

section.one hr {
    width: 20rem;
}

section.one p {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: rgb(121, 121, 121);
}

section.two {
    background-color: #d2d2d2;
}

section.two .run-btn {
    
}

section.three {
    background-color: #6600ff;
}

footer {
    height: 120px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer p {
    color: #fff;
    font-weight: 600;
}
footer a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
footer a:hover {
    color: #cccccc;
}